:root {
  --clr-primary-light: rgba(184, 200, 224, .22);
  --clr-primary: #3F8CFF;
  --clr-primary-darker: #3A81EB;
  --clr-primary-dark: #1F6DE0;
  --clr-white: #FFFFFF;
  --clr-bg: #F4F9FD;
  --clr-text: #0A1629;
  --clr-entry: #7D8592;
  --clr-entry-line: #D8E0F0;
  --clr-disabled: #CED5E0;

  --radius-24: 24px;
  --radius-14: 14px;
  --radius-full: 50%;
  --shadow-btn: 0 6px 12px rgba(63, 140, 255, .42);
  --shadow-field: 0 1px 2px rgba(184, 200, 224, .22);
  --shadow-form: 0 6px 58px rgba(196, 203, 214, 0.3);

}